*.exe
*.sum

# dependencies
/client/node_modules
*.pnp
*.pnp.js

# testing
/client/coverage

# next.js
/client/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


.yarn

/server/config.json
/server/config.json.*
/client/config.json
/server/public/*.hash
/server/routes/build.go
/server/server
service-file.json
client/service-file.json
server/service-file.json

secure-config
config-gen/target
config-gen/Cargo.lock