@import "../styles/variables.scss";
@import './fonts.scss';

body {
    background-color: $bg-color;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    max-width: 100%;
    color: $color;
    font-family: $font;

    #mainNav {
        margin: 0px;
        height: $navbar-height;
        max-width: 100vw;
        background-color: $theme-color;
        z-index: 99999;
    }

    #content {
        margin: 0px;
        min-height: $content-min-height;
        width: 100vw;
    }

    #mainFooter {
        height: $footer-height;
        width: 100vw;
        background-color: $theme-color;
        margin: 0px;
        z-index: 99999; 
        
        & * {
            margin: 0px;
        }
    }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #9d5e5e;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff1515;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a36b6b;
}